<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un utlisateur</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/myStyle.css" th:href="@{css/myStyle.css}">
</head>
<body>

    <div class="col-md-6 spacer">
        <div class="panel-info">
            <div class="panel-heading">Inscription d'un étudiant</div>
        </div>
        <div class="panel-body">
            <form th:action="@{/addEtudiant}">
                <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input class="form-control" type="text">
                    <span class="error"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Prenom</label>
                    <input class="form-control" type="text">
                    <span class="error"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date de naissance</label>
                    <input class="form-control" type="date">
                    <span class="error"></span>
                </div>
                <div class="btn btn-primary">Enregistrer</div>
            </form>
        </div>
    </div>
</body>
</html>