<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Etudiant</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{css/myStyle.css}">
</head>
<body>

<div class="col-md-6 spacer">
    <div class="panel panel-info">
        <div class="panel-heading">Ajouter un étudiant</div>
        <div class="panel-body">
            <form th:action="@{/addEtudiant}" method="post" th:object="${etudiant}">
                <div class="form-group">
                    <label class="custom-control-label">Nom</label>
                    <input class="form-control" type="text" name="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Prénom</label>
                    <input class="form-control" type="text" name="prenom" placeholder="Prénom">
                </div>
                <div class="form-group">
                    <label class="custom-control-label">Date de naissance</label>
                    <input class="form-control" type="date" name="dateNaissance">
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" name="Create" >
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>